{% load form_filters %}
{% load widget_tweaks %}

<div class="form-group d-flex flex-column {{ css_classes }}">
    {% if field.field.widget|is_checkbox %}
        <label class="custom-control custom-checkbox">
            <input name="{{ field.name }}" id="{{ field.id_for_label }}" type="checkbox"
                   {% if field.value %}checked{% endif %} class="custom-control-input">
            <span class="custom-control-label">{{ field.label }}</span>
        </label>
    {% else %}
        {% if not hide_label %}
            {% if field.field.required %}
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }} <span class="text-xs text-danger">*</span>
                </label>
            {% else %}
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                </label>
            {% endif %}
        {% endif %}
        {% if field.field.widget|is_checkbox_multiple %}
            {{ field }}
        {% elif field.field.widget|is_radio %}
            {{ field }}
        {% else %}
            {% render_field field class+=" form-control" attrs=attrs %}
        {% endif %}
        <div class="clearfix"></div>
    {% endif %}
    {% if field.errors and not hide_label %}
        <span class="d-block small text-danger mt-1">{{ field.errors }}</span>
    {% endif %}
</div>
