{% extends "layouts/base.layout.html" %}
{% load urlparams %}
{% load misc %}
{% load age_filters %}
{% load static %}

{% block content %}
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">

            <div class="layout-container pl-0">
                {% include "includes/index_page/header.html" %}
                <div class="layout-content">
                    <div class="container-fluid d-flex flex-column flex-grow-1 pt-0 container-p-y">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
