{% extends "layouts/app.layout.html" %}

{% block app-content %}
    {% include "includes/personal_survey_details/header.html" %}
    <div class="card">
        <div class="card-body">
{#        <div class="mb-5 bg-light p-2">#}
{#            <div class=" mb-2">#}
{#                <span class="font-weight-bold">Employee:</span>#}
{#                <span class="font-weight-normal">{{ object.employee | title }}</span>#}
{#            </div>#}
{#            <div class=" mb-2">#}
{#                <span class="font-weight-bold">Submitted:</span>#}
{#                <span class="font-weight-normal">{{ object.createdAt | timesince }} Ago</span>#}
{#            </div>#}
{#        </div>#}
            
            {% for heading in headings %}
                {% if heading.field_names|length %}
                    <div class="mb-4">
                        <h5 class="font-weight-bold">{{ heading | title }}</h5>

                        {% for value in object.values.all %}
                            {% if value.field.name in heading.field_names %}
                                <p class="font-weight-bold mb-0">{{ value.field.label }}</p>
                                {% if value.field.type == "N" %}
                                    <p class="font-weight-normal mb-4">
                                        Answer: {{ value.numberValue | floatformat:value.field.dp }}</p>
                                {% else %}
                                    <p class="font-weight-normal mb-4">Answer: {{ value.textValue }}</p>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}


            {% endfor %}
        </div>
    </div>

{% endblock %}