<div class="row mb-4">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h3 class="font-weight-bold mb-0">New Employee</h3>
                <p class="font-weight-semibold mb-2">Create a new employee to be saved in the system</p>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                         <li class="breadcrumb-item">
                            <a href="{% url 'index' %}"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                           <a href="{% url 'app_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'app_employees_list' %}">Employee</a>
                        </li>
                        <li class="breadcrumb-item active font-weight-bold text-primary" aria-current="page">
                            New Employee
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
