{% if message.tags == "error" %}
    <div class="alert alert-dark-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message|capfirst }}
    </div>
{% elif message.tags == "info" %}
    <div class="alert alert-dark-info alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message|capfirst }}
    </div>
{% elif message.tags == "warning" %}
    <div class="alert alert-dark-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message|capfirst }}
    </div>
{% elif message.tags == "success" %}
    <div class="alert alert-dark-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message|capfirst }}
    </div>
{% endif %} 